@import url('../fonts/stylesheet.css');
@import url('normalize.css');
@import url('modal.css');

:root {
    --primary-light: #0a296220;
    --primary-medium-light: #0a296250;
    --primary-normal: #0a2962;
    --primary: var(--primary-normal);
    --bc-content: #ffffff;

    --bc-body: #0A296220;
    --color-content: #000000;

    --content-width: 1080px;
    --code-color: var(--primary-medium-light);
}

::-webkit-scrollbar {
    position: absolute;
    height: .6rem;
    width: .6rem;
}

::-webkit-scrollbar:hover {
    background-color: var(--primary-medium-light);
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    border-radius: .2rem;
    background: var(--primary-medium-light);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    scrollbar-color: var(--primary) var(--primary-light);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    background-color: var(--bc-body);
    overflow: auto;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: visible;
}

.wrapper > * {
    width: min(var(--content-width), 100%);
}

.wrapper > main, .wrapper > .container {
    flex-grow: 1;
}

main {
    background-color: var(--bc-content);
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

aside {
    padding-inline: 1rem;
}

footer {
    border-top: .5rem solid var(--primary);
    background-color: var(--bc-body);
    color: var(--color-content);
    padding: 1rem;
}

ul {
    padding-left: 1.5rem;
}

a, a:visited {
    color: var(--primary);
}

a:active, a:focus, a:hover {
    outline: transparent;
    background-color: var(--primary);
    color: white;
}


pre, code, .code {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
}

header {
    border-bottom: .1rem var(--primary);
    background-color: var(--bc-content);
    color: var(--primary);
    font-size: 1.5rem;
    padding: 1rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-content {
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-content > h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    flex-grow: 1;
    text-transform: uppercase;
    word-wrap: normal;
}

.header-content > a {
    padding: 1rem;
    text-decoration: none;
    flex-direction: column;
}

.header-content > a:hover {
    color: var(--bc-content);
}

.logo {
    width: inherit;
    height: inherit;
}

.container {
    display: flex;
    align-items: start;
    background-color: var(--bc-content);
}

.container-main {
    order: 1;
    height: 100%;
    flex-grow: 1;
    width: min(60%, calc(var(--content-width) * 0.7));
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
}

.container-secondary {
    order: 2;
    position: sticky;
    top: 0;
    width: calc(var(--content-width) * 0.3);
}

@media print, screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .container-secondary {
        order: 1;
        position: static;
        width: 100%;
    }

    .container-main {
        order: 2;
        width: 100%;
    }
}


.aside-nav > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.aside-nav > ul > li {
    padding: 0;
    border-left: 0.1rem var(--primary) solid;
}

.aside-nav > ul > li > a {
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.header-logo, a.header-logo {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    background-color: var(--bc-content);
}

.header-logo > *:first-child {
    width: 64px;
    height: 64px;
}

.header-logo::before, .header-logo::after {
    content: "";
    flex-grow: 1;
    background-color: var(--bc-content);
    border: .3rem solid var(--primary);
    margin-bottom: auto;
    margin-top: auto;

}

.code {
    white-space: nowrap;
    border-radius: .2rem;
    padding-inline: .2rem;
    background-color: var(--code-color);
    color: var(--primary);
}

pre.code {
    white-space: pre;
    overscroll-behavior: contain;
    overflow: scroll;
    padding: 1rem;
    border: .1rem solid var(--primary);
    border-left: .5rem solid var(--primary);
}

.scroll-x {
    width: 100%;
    overflow-x: scroll;
}

table {
    width: 100%;
    border: 1px solid var(--primary);
    border-collapse: collapse;
}

table > caption, th {
    background-color: var(--bc-body);
    padding: .5rem .75rem;
    font-weight: bold;
    color: var(--primary);
}

table > caption {
    border-left: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
}

table > thead {
    background-color: var(--bc-body);
}

table th, table td {
    border: 1px solid var(--primary);
    padding: .5rem .75rem;
    vertical-align: middle;
}

td > p {
    margin: 0;
}

h2 {
    color: var(--primary);
    border-bottom: .1rem solid var(--primary);
    padding-bottom: .25rem;
}

h3, h4, h5, h6 {
    color: var(--primary);
}

article[id] > h2:before {
    content: "#";
    color: var(--primary-medium-light);
    margin-right: 0.5rem;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-light {
    background-color: var(--primary-light);
}


.link-selected {
    /*font-weight: bold;*/
    background-color: var(--primary-medium-light);
}

dl > dt {
    color: var(--primary);
    font-weight: bold;
    margin-top: 1rem;
}

dl > dt:after {
    content: ":"
}

dl > dd {
    margin-left: 2rem;
}

h2 {
    page-break-inside: avoid;
    page-break-after: avoid;
}

h2 + p {
    page-break-before: avoid;
    page-break-inside: avoid;
}

button, input[type=submit] {
    border: none;
    background-color: var(--primary-light);
    padding: .25rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
}

button:hover, button:active, button:focus,
input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
    background-color: var(--primary-medium-light);
}

textarea {
    resize: vertical;
    min-height: 10rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form > * {
    width: 100%;
}

.brad-5 {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nowrap{
    white-space: nowrap;
}

.bg-medium {
    background-color: var(--primary-medium-light);
}

button:hover.bg-medium, button:active.bg-medium, button:focus.bg-medium,
input[type=submit].bg-medium:hover, input[type=submit].bg-medium:active, input[type=submit].bg-medium:focus {
    background-color: var(--primary);
    color: var(--bc-content);
}