<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
        {% block title %}
            ИАЦ ГрГУ PDF Generator guide
        {% endblock %}
    </title>
     {% block stylesheets %}

        <link rel="stylesheet" href="/css/styles.css">

    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="wrapper">

            <header>

                <a class="header-logo" href="/">
                    {% include '@__includes/logo.html.twig' %}
                </a>
                <div class="header-content">
                    <h1>
                        Pdf generator guide
                    </h1>
                    {% block nav %}
                        <!-- Навигация без ссылки на вход -->
                        <a href="/">Главная</a>
                    {% endblock %}
                </div>
            </header>

        {% block main %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </div>
{% endblock %}

<script src="/js/script.js"></script>

</body>
</html>
